<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Foods</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #cbcaa5, #334d50);
            color: #333;
            padding: 20px;
        }
        .section {
            margin-top: 20px;
            background-color: #ecf0f1;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<form method="post">{% csrf_token %}
    <!-- Labels Tab -->
    <section class="section">
        <h2>Labels</h2>
        <a class="btn btn-primary" href="researchers dashboard.html" role="button">Back to Dashboard</a>
        <div>
            <label for="label-filter">Food ad:</label>
            <select id="label-filter" name="label-filter">
                <option value="all">All</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <input type="text" id="product-name" name="product-name" placeholder="Search by product name">
        </div>
            <button type="submit" class="submit-btn">Update</button>
        <table>
            <tr>
                <th>User Uploaded</th>
                <th>Ad ID</th>
                <th>Video Id (Hash)</th>
                <th>Labeller ID</th>
                <th>Is this an ad?</th>
                <th>Ad Brand</th>
                <th>Product Name</th>
                <th>Is this a food ad?</th>
            </tr>
            {% for data in label %}
            <tr>
                {% for value in data %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </section>
</form>
</body>
</html>