<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Foods</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #cbcaa5, #334d50);
            color: #333;
            padding: 20px;
        }
        .section {
            margin-top: 20px;
            background-color: #ecf0f1;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<form method="post">{% csrf_token %}
    <!-- Technique Tab -->
    <section class="section">
        <h2>Technique</h2>
        <a class="btn btn-primary" href="researchers dashboard.html" role="button">Back to Dashboard</a>
        <table>
            <tr>
                <th>Technique ID</th>
                <th>Technique Name</th>
            </tr>
        {% for data in technique %}

            <tr>
                {% for value in data %}
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </section>
</form>
</body>
</html>